
.main-common-header{
  height: 20px !important;
}

h1[data-v-95e9535b]{
  color: var(--el-table-text-color);
}

#post-detail-body[data-v-2eab829b] {
  min-width: 600px !important;
}
#post-detail-body .btn-publish[data-v-2eab829b] {
  /*margin-left: 10px;*/
  cursor: pointer;
  padding: 10px 0;
}

.publish-header[data-v-8fbb3308]{
  margin-bottom: 16px;
}
#publish-body[data-v-8fbb3308] {
  min-width: 600px !important;
}

.s-input {
  min-width: 500px !important;
}

.top-data-tip[data-v-7e336346] {
  margin-bottom: 10px;
  padding-left: 4px;
}

/* search */
.my-autocomplete li[data-v-7e336346] {
  line-height: normal;
  padding: 7px;
}
.my-autocomplete li .name[data-v-7e336346] {
  text-overflow: ellipsis;
  overflow: hidden;
}
.my-autocomplete li .addr[data-v-7e336346] {
  font-size: 12px;
  color: #b4b4b4;
}
.my-autocomplete li .highlighted .addr[data-v-7e336346] {
  color: #ddd;
}
.s-btn[data-v-7e336346] {
  margin-left: 20px;
}

/* table */
.tb-data[data-v-7e336346] {
  margin-top: 10px;
}
.el-pagination[data-v-7e336346] {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
}
