
#dt-tool .el-form-item__label{
  width: unset !important;
}

.post-detail-content-box[data-v-4346cff2] {
  padding: 10px;
}
.post-detail-content-box .btn-publish[data-v-4346cff2] {
  /*margin-left: 10px;*/
  cursor: pointer;
  padding: 10px 10px 0 0;
}
