@import "./webfont.css";

:root {
    --b3-font-family: "JetBrains Mono", "LXGW WenKai", "-apple-system", "Wenquanyi Micro Hei", "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "Times New Roman", "方正北魏楷书_GBK" !important;
    --b3-font-family-code: var(--b3-font-family);
    --b3-font-family-graph: var(--b3-font-family);
    --b3-font-family-emoji: var(--b3-font-family);
    --b3-font-family-math: var(--b3-font-family);
}

.protyle-background:has(.protyle-background__icon.fn__none) {
    min-height: 57px !important;
}

.protyle-background__iconw{
    top:16px;
    left: 16px;;
}

.protyle-title {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.protyle-wysiwyg {
    padding-left: 16px !important;
    padding-right: 16px !important;
}


.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1 !important;

}

.b3-typography .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon {
    /* copy按钮不调整 */
}

.b3-typography .hljs,
.protyle-wysiwyg .hljs {
    padding-left: 14px !important;
    padding-bottom: 14px !important;

}

.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
    tab-size: 4 !important;

}


/* Sofill- */

/*span[data-type=code] {color: white !important;    background-color: var(--b3-theme-primary) !important;}*/