@import "./webfont.css";

/* html{
    filter: grayscale(1);
} */

/* 全局样式 */
:root {
    --b3-font-family: "JetBrains Mono", "LXGW WenKai", "-apple-system", "Wenquanyi Micro Hei", "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "Times New Roman", "方正北魏楷书_GBK" !important;
    --b3-font-family-code: var(--b3-font-family);
    --b3-font-family-graph: var(--b3-font-family);
    --b3-font-family-emoji: var(--b3-font-family);
    --b3-font-family-math: var(--b3-font-family);
}

/* 代码类型显示 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1 !important;
}

/* copy按钮不调整 */
/* .b3-typography .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon {
} */
/* 代码间距调整 */
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
    padding-left: 14px !important;
    padding-bottom: 14px !important;
}

.b3-typography .hljs.protyle-linenumber,
.protyle-wysiwyg .hljs.protyle-linenumber {
    margin-left: 48px !important;
}

.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
    tab-size: 2 !important;
}

/* 头部与编辑器调整 */
.protyle-icons {
    opacity: 1 !important;
}

/* 标题与编辑器左侧间距 */
.protyle-background__iconw {
    left: 64px !important;
}

.protyle-title {
    margin-left: 64px !important;
    margin-right: 16px !important;
}

.protyle-wysiwyg {
    padding-left: 64px !important;
    padding-right: 16px !important;
}

@media all and (orientation : portrait) {

    /*竖屏*/
    .protyle-background {
        min-height: 32px !important;
    }

    .protyle-icons {
        opacity: 0 !important;
    }

    .protyle-background__icon {
        display: none;
    }

    .protyle-background__iconw {
        left: 16px !important;
    }

    .protyle-title {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    .protyle-wysiwyg {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media all and (orientation : landscape) {
    /*横屏*/
}

/*Rem Craft自定义*/
.rc-focus{
    background-color: rgba(var(--page-2));
}