:root {

    /* 字体 */
    --b3-font-family: "Overpass","Glow Sans SC Normal";
    --b3-font-family-code: "Overpass Mono";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;
    
    /* 主色 */
    --b3-theme-primary: #0969da;
    --b3-theme-primary-light: rgba(9, 105, 218, 0.54);
    --b3-theme-primary-lighter: rgba(9, 105, 218, 0.38);
    --b3-theme-primary-lightest: rgba(9, 105, 218, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #FBFBFB;
    --b3-theme-background-light: #dfe0e1;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #333;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .06);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .2);

    /* 列表 */
    --b3-list-hover: #e9eaea;

    /* 菜单 */
    --b3-menu-background: #f8f9fa;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: var(--b3-card-info-color);
    --b3-font-color4: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color6: var(--b3-theme-primary);
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: var(--b3-theme-error);
    --b3-font-color9: #f5539e;
    --b3-font-color10: #944194;
    --b3-font-color11: #65b84d;
    --b3-font-color12: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: var(--b3-theme-surface);
    --b3-font-background6: var(--b3-theme-primary-light);
    --b3-font-background7: rgba(217, 211, 215, 0.5);
    --b3-font-background8: rgba(255, 193, 153, 0.5);
    --b3-font-background9: rgba(189, 201, 255, 0.5);
    --b3-font-background10: rgba(239, 218, 251, 0.5);
    --b3-font-background11: rgba(234, 202, 220, 0.5);
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #F8E8CB;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}







/* 额外添加区 */

/* 1. 定义 */
:root {
    /* 标题颜色 */
    --h1-list-graphic: #D65C5C;
    --h2-list-graphic: #c5782d;
    --h3-list-graphic: #6c9286;
    --h4-list-graphic: #628e9f;
    --h5-list-graphic: #333;
    --h6-list-graphic: #333;
}


/* 2. 标题样式 */
.protyle-wysiwyg [data-node-id].h1 ,.b3-typography h1{
    text-align: center;
    font-size: 1.3em;
    color: var(--h1-list-graphic);
    padding: 4px;
}
.protyle-wysiwyg [data-node-id].h2,.b3-typography h2 {
    font-size: 1.15em ;
    border-bottom: 1px solid #dfe0e1 !important;
    color: var(--h2-list-graphic);
    margin-top: 8px;
    margin-bottom: 4px;
}
.protyle-wysiwyg [data-node-id].h3,.b3-typography h3 {
    font-size: 1.1em;
    color: var(--h3-list-graphic);
    margin-top: 10px;
}

.protyle-wysiwyg [data-node-id].h4,.b3-typography h4 {
    font-size: 1em;
    color: var(--h4-list-graphic);
    margin-top: 10px;
    text-decoration: underline;
}
.protyle-wysiwyg [data-node-id].h5,.b3-typography h5 {
    font-size: 1em;
    color: var(--h5-list-graphic);
}
.protyle-wysiwyg [data-node-id].h6,.b3-typography h6 {
    font-size: 1em;
    color: var(--h6-list-graphic);
}


/* 3. 表格前几行的颜色 */
.b3-typography table td, .b3-typography table th, .protyle-wysiwyg table td, .protyle-wysiwyg table th {
    background: #FEFEFE;
}

/* 4. 大纲标题前的圆点 */
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h1-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h2-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h3-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h4-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h5-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}
#layouts .file-tree ul.b3-list.b3-list--background [data-subtype="h6"] .b3-list-item__toggle::after{
    content:"";
    background-color:var(--h6-list-graphic);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:relative;
    left:10px;
}

/* 5. 取消大纲标题前的标志 */
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic{
    margin-left:-10px;
    margin-right:4px;
    color:transparent;
    z-index:2;
}

/* 6. 调整段间距 */
.b3-typography p, .b3-typography [data-node-id], .protyle-wysiwyg p, .protyle-wysiwyg [data-node-id] {
    line-height: 1.5;
    padding: 4px;
    margin: 4px;
}

/* 7. 关闭右侧滑杆 */
.protyle-scroll .b3-slider {
    width: 0px; /* 默认为200 */
}

/* 8. 列表间隔微调 */
.protyle-wysiwyg [data-node-id].list {
    padding: 0;
    margin: 0;
}
.protyle-wysiwyg [data-node-id].li>[data-node-id] {
    padding-right: 0;
}